<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,432},{51,51}}</string>
                <key>offset</key>
                <string>{30,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,29},{51,51}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{601,213}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{601,213}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{527,213}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{527,213}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{449,207}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,4},{449,207}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,320},{457,173}}</string>
                <key>offset</key>
                <string>{-61,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{457,173}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{381,171}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,17},{381,171}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,175},{361,143}}</string>
                <key>offset</key>
                <string>{105,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,31},{361,143}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,495},{211,131}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,40},{211,131}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,495},{191,139}}</string>
                <key>offset</key>
                <string>{42,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,30},{191,139}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,495},{79,85}}</string>
                <key>offset</key>
                <string>{99,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,81},{79,85}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,217},{71,81}}</string>
                <key>offset</key>
                <string>{98,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,83},{71,81}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,582},{59,33}}</string>
                <key>offset</key>
                <string>{95,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,87},{59,33}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,628},{11,9}}</string>
                <key>offset</key>
                <string>{74,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,91},{11,9}}</string>
                <key>sourceSize</key>
                <string>{627,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{991,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c80c24cbd455de46773f1ef04ce1cfc$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
