<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_u00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{151,125}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{151,125}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{169,133}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{169,133}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{183,151}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{183,151}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{185,157}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{179,175}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{179,175}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,346},{179,181}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{179,181}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{181,181}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{181,181}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,161},{183,183}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{183,183}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,527},{173,179}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{173,179}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,185}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{173,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,817},{147,133}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{147,133}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,320},{145,135}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{145,135}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{147,137}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{147,137}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,878},{133,139}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{133,139}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,467},{133,141}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{133,141}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,741},{135,143}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{135,143}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,173},{135,145}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{135,145}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>effect_u00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,602},{137,145}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e871207e9385d4fc142ddeae494020$</string>
            <key>textureFileName</key>
            <string>flash.png</string>
        </dict>
    </dict>
</plist>
