<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cttt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,786},{364,178}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{364,178}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,786},{382,240}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{382,240}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,726},{400,242}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{400,242}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,546},{424,238}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{424,238}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,274},{450,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{450,266}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,274},{450,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{450,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{450,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
            <key>cttt_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spring.png</string>
            <key>size</key>
            <string>{994,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eeed01a716a70cc05246cdb1c0bc0ac$</string>
            <key>textureFileName</key>
            <string>spring.png</string>
        </dict>
    </dict>
</plist>
