<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,218},{34,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,142},{70,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{72,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{72,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{72,66}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{70,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,40}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>warning.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6dc2ddf42e5c7068af40436a48ed955$</string>
            <key>textureFileName</key>
            <string>warning.png</string>
        </dict>
    </dict>
</plist>
